{# ? @copyright Copyright (c) Orbital Flight #}
{# @var plugin \orbitalflight\craftdeleteassets\Plugin #}
{# @var settings \orbitalflight\craftdeleteassets\models\Settings #}

{% import '_includes/forms.twig' as forms %}

<h1>Accessibility</h1>

{{ forms.colorField({
    first: true,
    label: "Used assets color:",
    instructions: "The color used to represent the assets which are currently in use in your project:",
    name: "usedAssetsColor",
    value: settings.usedAssetsColor,
    errors: settings.getErrors('usedAssetsColor'),
    required: true,
}) }}

{{ forms.colorField({
    label: "Revision and drafts assets color:",
    instructions: "The color used to represent the assets which are currently not in use in your project but used in drafts and revisions:",
    name: "revisionAssetsColor",
    value: settings.revisionAssetsColor,
    errors: settings.getErrors('revisionAssetsColor'),
    required: true,
}) }}

{{ forms.colorField({
    label: "Unused assets color:",
    instructions: "The color used to represent the assets which are not currently in use in your project:",
    name: "unusedAssetsColor",
    value: settings.unusedAssetsColor,
    errors: settings.getErrors("unusedAssetsColor"),
    required: true,
}) }}
